
/* Reset.css */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: #000;
    text-decoration: none;
    list-style: none;
}


/* 見出しレイアウト */

.headline{ /* 見出しレイアウト全体→見出しクラスににheadlineを足すと背景反映 */
    padding: 10px 0 15px 1%;
    margin-bottom: 20px;
    font-weight: bold;
    color: #800000;
}

.headline_title{ /* 見出し h2 */
    font-size: 40px;
    color: inherit;
}

.headline_hurigana{ /* 見出し p */
    color: inherit;
}

/* button */

a{
  display: block;
  text-decoration: none;
}

.btn{ /* ボタン外枠 */
  position: relative;
  margin-left: 355px;
  width: 240px;
  height: 48px;
  line-height: 48px;
  display: flex;
  text-align: center;
  background: #800000;
  font-size: 20px;
}

.btn-Text{ /* ボタン文字 */
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 10;
}

.btn-Text:before{ /* ホバーしたときスライドする */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #ff6347;
  border: none;
  z-index: -1;
  transition: .2s;
}

.btn-Text:hover{
  color: #fff;
}

.btn-Text:hover:before{
  width: 100%;
}


/* アイコン(使用箇所:ヘッダー上部Twitter) */

.icon{ /* アイコン */
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;  
}


/* ヘッダー(header&nav) */

#header { /* ヘッダー全体 */
    padding: 0 4.0em 0.7em 4.0em;
    background-color: #fff;
    /* スクロールするとヘッダーがついてくる */
    position: sticky; 
    position: -webkit-sticky; /*Safari用ベンダープレフィックス*/
    top: 0;
}

.header_logo{
    margin: -0.6em 0 0 0; 
}

.header_inner { /* ヘッダー上部全体 */
    padding: 1px 0 20px;
    height: 20px;
    font-size: 12px;
}

.header_inner_ul { /* ヘッダー上部 ul */
    text-align: right;
    list-style: none;
}

.header_item { /* ヘッダー上部 li */
    display: inline-block;
    margin-left: 2.0em; 
}

.header_item > a:hover { /* ヘッダー上部 li hover*/
    opacity: 0.5;
    transition: 0.3s;   
}

.header_main{ /* ヘッダー下部全体 */
    display: flex;
    padding: 1.0em 0 1.0em 1.0em;
}

.nav { /* ナビ全体 */
    margin-left: auto;
}

.nav_ul { /* nav ul */
    text-align: right;
    list-style: none;
}

.nav_item { /* nav li */ 
    display: inline-block;
    margin-left: 5.0em; 
}

.nav_item > a {  /* ナビ li a */
    display: block;
    padding-bottom: 3px; 
}

.nav_item > a:after { /* ナビリスト hoverした時に現れる下線(前) */
    display: block;
    content: '';
    width: 0;
    transition: all 0.3s ease;
    border-bottom: 2px solid #ff6347; 
}

.nav_item > a:hover:after { /* ナビリスト hoverした時に現れる下線(hover中) */
    width: 100%; 
    border-bottom: 2px solid #ff6347; 
}


/* メインビジュアル(main) */

.main_visual{
    width: 1100px;
    margin: 0 auto;
}

.main_visual img{
    width: 100%;
    margin: 0 auto;
    max-width: 1820px;
    height: 600px;
}


/* ニュース */

#news{
    width: 1000px;
    margin: 50px auto;
}

.news_ul{
    margin-left:50px;
}

.news_item{ /* ニュース li */
    float: left;
    padding: 10px 0 10px;
    margin: 0 0px 20px 0;
    width: 33%;
}

.news_img{ /* ニュース 画像外枠 */
    width: 250px;
    height: 180px;
    text-align: center;
    overflow: hidden; 
    border-radius: 5%;  
}

.img{ /* ニュース画像　共通 */
    transition: 1s all;         
}

.img:hover{
    transform: scale(1.2,1.2);
    transition: 0.3s all;

}

.news_gaiyo{ /* ニュース　タイトル + 説明 + 日程　*/
    margin-top: 15px;
}

.news_title{  /* ニュース　タイトル */
    font-weight: bold;
    font-size: 20px;
    color: #800000;
}

.news_discription{  /* ニュース 文章 */
    font-size: 13px;
    margin-top: 5px;
}

.news_date{ /* ニュース 投稿日 */
    color: #808080;
    margin-top: 15px;
}

.news_ul:after{ /* floatによる潜りこみの解消 */
    content: "";
    clear: both;
    display: block;
}

/* コンセプトエリア */

.concept_item{
    display: flex;
    margin-top: 120px;
}

.concept_ul > .concept_item:nth-child(even){
    flex-direction: row-reverse;
}

.media_body{
     margin-top: 70px;
}

.media_body:nth-child(even){   
    margin-left: 10%;
}

.media_discription{
    width: 300px;
    font-size: 1.1em;
}

.media_title{
    font-weight: bold;
    font-size: 2.0em;
}

.concept_button{
    font-display: block;
}